.ComStudyDetailSidebar{
    width: 100%;
    
    .study_name{
        font-family: "NSRB";
        font-size: 50px;
        padding-left: 40px;
        
    }
    .study_pages{
        margin-left: 50px;
        .page_title{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 20px;
        }  
    }
}

