.ComStudyDetailContnts{
    padding: 30px;
    .title{
        font-family: "NSRB";
        font-size: 50px;
        margin-bottom: 20px;
        
        height: 55px;
        overflow: hidden;
    }
        
    .content{
    
        font-size: 20px;
        margin: 30px;

        .viewer{
            font-family: "NSRB";
        }

        .fixer{
            font-family: "NSRB";
        }
    }
}
    